<div class="row">
    <div class="col-md-4 col-center">
        <div class="form">
            <header class="text-center">
                <h1>Login</h1>
            </header>

            <%= form_for(:session, url:login_path) do |f| %>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                </div>

                <div class="text-center">
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                </div>

                <p class="text-center" style="margin: 10px 0;">New user? <%= link_to "Sign up now!", signup_path %></p>
            <% end %>
        </div>
    </div>
</div>
