<!DOCTYPE html>
<html>
    <head>
        <title>RorFels</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="<%= yield(:body_class) %>">
        <%= render 'layouts/header' %>

        <div class="container container-small">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-dismissable alert-<%= message_type %>"><%= message %></div>
            <% end %>
        </div>

        <%= yield %>
        <%= render 'layouts/footer' %>
    </body>
</html>
